# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
staging/index.html
staging/index.html
staging/index.html
staging/main.4e95e42d0bd788b32afb.js
staging/main.972dae4724fc03ad8e88.js
staging/styles.de3c8fdcc51e7b0c8bff.css
staging/styles.689742c1911e248edb0a.css
staging/main.4e95e42d0bd788b32afb.js
staging/styles.de3c8fdcc51e7b0c8bff.css
